<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @resume.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @resume.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resume.email %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @resume.cv %>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
